.modal-blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .modal-body {
    width: 40%;
    height: 60%;
    background-color: white;
    border: 1px solid black;
  }
  
  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
  }
  
  .modal-header span {
    font-size: 30px;
    font-weight: 600;
    font-family: "Maiden Orange", Helvetica;
    justify-content: center;
  }