body {
  background-color: #98b2be;
}

.index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.index .div {
  border: 1px none;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.index .text-wrapper {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  font-family: "Maiden Orange", Helvetica;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
}

.index .dividing-bar-home {
  height: 1px;
  position: relative;
  width: 150%;
  bottom: 10px;
}

.index .help {
  position: relative;
  float: right;
  padding-right: 10px;
  cursor: pointer;
}

.index .stats {
  position: relative;
  float: right;
  padding-right: 5px;
  cursor: pointer;
}

.entry-container {
  display: flex;
  justify-content: center;
  height: 50%;
  flex-direction: column;
  align-items: center;
}

.entry {
  width: 700px;
  height: 50px;
  background-color: #d9d9d9; 
  margin: 10px; 
  border: 1px solid black;
  border-radius: 5px;
}

.index .media-player-bar {
  margin-top: 5%;
  background-color: #d9d9d9;
  height: 20px;
  position: relative;
  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
}

.index .overlap {
  margin-top: 10px;
  background-color: #d9d9d9;
  border-radius: 37.5px;
  height: 75px;
  position: relative;
  width: 75px;
  border: 1px solid black;
}

.index .play {
  height: 44px;
  left: 21px;
  position: absolute;
  top: 15px;
  width: 44px;
  cursor: pointer;
}

.index .pause {
  height: 70px;
  left: 8px;
  position: absolute;
  top: 3px;
  width: 60px;
  cursor: pointer;
}

.index .user-entry {
  margin-top: 1%;
  background-color: #d9d9d9;
  height: 60px;
  position: relative;
  width: 700px;
  border: 1px solid black;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-top: 10px;
}


.input-button {
  background-color: rgb(0, 0, 190);
  width: 35%;
  color: white;
  font-family: "Maiden Orange", Helvetica;
  font-size: 50px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
}

.modal-blur {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-body {
  width: 40%;
  height: 60%;
  background-color: white;
  border: 1px solid black;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.modal-header span {
  font-size: 30px;
  font-weight: 600;
  font-family: "Maiden Orange", Helvetica;
  justify-content: center;
}